Click==7.0
clint==0.5.1
python-dateutil==2.8.0
pywin32==228; sys_platform == 'Windows' or sys_platform == 'win32' or sys_platform == 'cygwin'
uiautomation==2.0.5
plyer==1.4.3 
firebase==3.0.1
python-jwt==3.2.6; sys_platform == 'Windows' or sys_platform == 'win32' or sys_platform == 'cygwin'
gcloud==0.18.3
sseclient-py==1.7
rsa==4.6
pycrypto==2.6.1
pycryptodome==3.9.7; sys_platform == 'Windows' or sys_platform == 'win32' or sys_platform == 'cygwin' #pip install pycryptodome
requests-toolbelt==0.9.1 #pip install requests-toolbelt